# Exercices
---

## Question 1

Write an equation using addition and subtraction which output an integer 100.

In [4]:
50+50

100

## Question 2
Write an equation using addition, multiplication, division, an exponent, and subtraction which output a float 50.50.

In [13]:
10e1 - 50/5 + 2*3 - 45.5

50.5

## Question 3

What is the value of the expression (4 * (6 + 1000) )/ 100000 using exponent.

Display the result using exponential format.

In [27]:
"{:e}".format((4 * (6 + 1e3) )/ 1e6)

'4.024000e-03'

## Question 4

Translate the following calculations:
- Five power two
- Square root eighty one
- Cubic root twenty seven

In [30]:
5**2,81**0.5, 27**(1/3)

(25, 9.0, 3.0)

## Question 5

Display a sentence where you fill in blanks " My Name is ____, I am ____ years, I live in ___" with your name,age and city.

In [37]:
"My Name is {}, I am {} years old, I live in {}".format('John', 'forty', 'Chicago')

'My Name is John, I am forty years old, I live in Chicago'

## Question 6

From the previous sentence, divide the sentence in three parts where each one contains successively name, age and city

In [38]:
s = "My Name is {}, I am {} years, I live in {}".format('John', 'forty', 'Chicago')
s.split(',')

['My Name is John', ' I am forty years', ' I live in Chicago']

## Question 7

Count the number of occurences of the letter 'n'

In [41]:
s.count('m')

2

## Question 8

Build a list of prime numbers inferior to 20

In [2]:
lst = [1,2,3,5,7,9,11,13,17,19]
lst

[1, 2, 3, 5, 7, 9, 11, 13, 17, 19]

## Question 9

Give the previous list length

In [46]:
len(lst)

10

## Question 11

Reverse the previous list

In [47]:
lst[::-1]

[19, 17, 13, 11, 9, 7, 5, 3, 2, 1]

## Question 12

Convert previous list to a tuple

In [48]:
tuple(lst)

(1, 2, 3, 5, 7, 9, 11, 13, 17, 19)

## Question 13

Create a dictionnary where John, Chris, Jack, Sarah and Isabel have earned a revenue of 100,2000, 300, 3000,500

In [1]:
d = {'John':100, 'Chris': 2000,'Jack':300,'Sarah':3000,'Isabel':500}
d

{'John': 100, 'Chris': 2000, 'Jack': 300, 'Sarah': 3000, 'Isabel': 500}

## Question 14

Display keys of the previous dictionnary

In [2]:
d.keys()

dict_keys(['John', 'Chris', 'Jack', 'Sarah', 'Isabel'])

## Question 15

Display values of the previous dictionnary

In [3]:
d.values()

dict_values([100, 2000, 300, 3000, 500])

## Question 16

We made a mistake concerning Isable, she has earned 800. Correct this

In [4]:
d['Isabel'] = 800
d

{'John': 100, 'Chris': 2000, 'Jack': 300, 'Sarah': 3000, 'Isabel': 800}

## Question 17

Who has the highest revenue ?

In [84]:
# convert values to list
lst_vals = list(d.values())
m = max(lst_vals)
# convert keys to list
lst_keys = list(d.keys())

idx_max = lst_vals.index(m)

lst_keys[idx_max]

'Sarah'

## Question 18

We forgot June, She has an revenue of 1000, Correct this

In [85]:
d['June'] = 1000
d

{'John': 100,
 'Chris': 2000,
 'Jack': 300,
 'Sarah': 3000,
 'Isabel': 800,
 'June': 1000}

## Question 19

Why would we use tuple instead of lists ?

Tuples are immutable
if our data will not be edited during the program, it is better to use tuples to gain time and avoid editing.

## Question 20

Use a set to find the unique values of the list below:

[1,2,2,33,4,4,11,22,3,3,2]

In [86]:
lst = [1,2,2,33,4,4,11,22,3,3,2]

set(lst)

{1, 2, 3, 4, 11, 22, 33}

## Question 21

Given a random list, how do we verify it doesn't contain duplicates ?

[56, 49, 92, 18, 70, 83]

[14, 13, 2, 15, 12, 2, 3, 16, 9, 5, 2]

[12, 17, 20, 7, 5, 1, 23, 17, 14, 25, 5, 22, 24, 15, 26, 18, 17, 21, 6, 28]

*hint: use sets and generate random list with *

In [88]:
lst = [14, 13, 2, 15, 12, 2, 3, 16, 9, 5, 2]

len(lst) == len(set(lst))

False

## Question 22

Is:
- 1e3 + 99 equal 1e4 -1  ?
- 1e4 -1 superior to 1e3 + 999 + 1  ?
- 1e4 - 999*1e1  inferior to 1e3 + 999 + 100  ?

In [89]:
1e3 + 99 == 1e4 -1

False

## Question 23

Build a list of length 10 and from it built a dictionnary where keys are this list indexes and values are list values

*For example:*

[10,100]

{0:10, 1: 100}

In [102]:
lst = [56, 49, 92, 18,1,-10, 34,23,44,11]

d= dict()

#d[0] = lst[0]
#d[1] = lst[1]
#d[2] = lst[2]
#...
for x in range(10):
    d[x] = lst[x]

d

{0: 56, 1: 49, 2: 92, 3: 18, 4: 1, 5: -10, 6: 34, 7: 23, 8: 44, 9: 11}

## Great Job on the exercices!