# Exercices

We will learn How to:
- Manipulate Boolean values with Boolean operators
- Convert Booleans to other types
- Convert other types to Python Booleans
- Use Python Booleans to write efficient and readable Python code
---

## Question 1

Display the type of the built-in boolean value <code>True</code>

In [1]:
type(True)

bool

## Question 2

Display all possible combination of the two python built-in boolean values with operator <code>and</code>

In [2]:
True and True, True and False, False and False

(True, False, False)

## Question 3

Display all possible combination of the two python built-in boolean values with operator <code>or</code>

In [3]:
True or True, True or False, False or False

(True, True, False)

## Question 4

Let's consider a list of even numbers inferior to 10.

Check if all elements of list are positive numbers.

In [7]:
lst  = [0,2,4,6,8]

all(x>=0 for x in lst)

True

In [9]:
all(lst[:]) > 0

False

## Question 5

From previous lsit

Check if any element of list is equal  to 4.

In [11]:
any(x==4 for x in lst)

True

## Question 6

From previous list

Check if all elements are postive and inferior to 100.

In [10]:
all(x>=0 and x < 100 for x in lst)

True

## Question 7

From previous list

Check if 100 is in list.

In [14]:
100 in lst

False

## Question 8

From previous list

Check if 8 is in list.

In [15]:
8 not in lst

False

## Question 9

Check if 100 is dividible by 10 ( division rest is 0 )

In [17]:
100 % 10 == 0

True

## Question 10

Write a simple code where a user inputs his age and you evaluate if he is elligible to vote

Age must be higher than 23

In [1]:
a = input()

print('Elligible to vote:',int(a) > 23 )

25
Elligible to vote: True

## Question 11

Evaluate if 20 is divisible by 4 and 5

In [28]:
20 % 4 == 0 and 20 % 5 == 0

True

## Question 12

Evaluate if 20 is divisible by 2,4,5,10

In [30]:
all(20 % x == 0 for x in [2,4,5,10])

True

## Question 13

Check if letter "a" is present at least 3 times in string :"abcdefahijklanopqrstuvwxyz"

In [10]:
"abcdefahijklanopqrstuvwxyz".count('a') >= 3

True

## Question 14

A sam string is a string writes the same if we reverse it

Check if these strings are sam:

'abdecfkje'
'klmmlk'
'kodalladok'

In [4]:
s ='kodalladok'

s[::-1] == s

True

## Quesiton 15

Check if list first and last elements are multiple of 10 or 15

[30,45,3560,435,5490]

In [7]:
lst = [30,45,3560,435,5490]

(lst[0] % 10 == 0 and lst[-1] % 10 == 0) or (lst[0] % 15 == 0 and lst[-1] % 15 == 0)

True

## Good job!