# GreenWood Project - Python Exercices: 

## Lists/tuples/Dictionnaries
---

In [2]:
import random
import pandas as pd
random.seed(55)

### Question 1

x is an integer.
Return x with its digits reversed

345 --> 543

### Question 2

Given a list, return <code>true</code> if any value appears at least three times in list.

In [4]:
lst = [random.randrange(1, 12, 1) for i in range(15)]
lst

[2, 4, 3, 5, 2, 3, 5, 2, 6, 11, 8, 9, 7, 7, 9]

### Question 3

Given two integer lists , return a list of their intersection. Each element in the result must be unique.

In [7]:
lst_1 = [random.randrange(1, 10, 1) for i in range(10)]
lst_2 = [random.randrange(1, 20, 1) for i in range(8)]
lst_1,lst_2

([7, 6, 7, 9, 1, 5, 1, 4, 9, 1], [19, 15, 8, 2, 13, 8, 3, 17])

### Question 4

Given a list, Build a data type where each value of our list refers to the number of its occurences

<code>lst = [2,3,2] ; data ={2:2,3:1}</code>

Hence, 2 shows up 2 times and 3 shows up 1 time.

In [13]:
lst = [random.randrange(0,10, 1) for i in range(8)]
lst

[3, 7, 2, 2, 3, 4, 8, 2]

### Question 5

Given a list, build a new list where we substract the product of the first and the last element from each element.

In [16]:
lst = [random.randrange(0,7, 1) for i in range(10)]
lst

[3, 1, 2, 5, 1, 6, 5, 5, 3, 6]

### Question 6

Write a Python script to concatenate following dictionaries to create a new one

In [18]:
dict1={1:10, 2:20}
dict2={3:30, 4:40}

### Question 7

Write a Python program to multiply all the items in a dictionary.

In [21]:
dict3 = {1: 10, 2: 20, 3: 30, 4: 40}

### Question 8

Convert dictionnary of list into list of lists

In [16]:
d = {'a' : [1, 0, 2], 'c' : [4, 2], 'b' : [1, 2]}

### Question 9

Convert 2D list into 1D list

In [18]:
lst = [[1, 0, 2], [4, 2], [1, 2]]

### Question 10

 Extract Unique values from dictionary values

In [24]:
d = {'a' : [0, 11, 12, 8],
             'c' : [10, 2, 9, 12],
             'e' : [1, 8, 12, 8],
             'b' : [1, 1, 5]}

### Question 11

Build an adequate data type where the target currencies are linked to their relative pairs.

Example:
<code> 'CAD': 'CAD/JPY','CAD/CHF'</code>,...

In [23]:
currs = ["AUD/CAD","CHF/JPY","EUR/NZD","GBP/JPY","TRY/JPY","USD/NOK","AUD/CHF","EUR/AUD","EUR/SEK","GBP/NZD","USD/CAD",
"USD/SEK","AUD/JPY","EUR/CAD","EUR/TRY","GBP/USD","USD/CHF","USD/TRY","AUD/NZD","EUR/CHF","EUR/USD","NZD/CAD",
"USD/CNH","USD/ZAR","AUD/USD","EUR/GBP","GBP/AUD","NZD/CHF","USD/HKD","ZAR/JPY","CAD/CHF","EUR/JPY","GBP/CAD",
"NZD/JPY","USD/JPY","CAD/JPY","EUR/NOK","GBP/CHF","NZD/USD","USD/MXN"]

target = ['CAD','NZD','USD','AUD']

### Question 12

Let's consider 5 companies with their relative revenues, expenses and currency for each one.

1. Build an adequate data type to store all of these informations

In [27]:
companies =('A','C','D','B','E')
revenues = (3.18E12,7.22E9,6.54E11,5.12E10,4.89E9)
expenses = (8.18E5,9.22E7,9.54E11,6.12E12,9.11E10)
currencies = ('EUR','JPY','GBP','USD','CAD')

### Question 13

Result data are such as
<code> result = revenues - expenses</code>

Add result data.

## Question 14

Add new result data in USD where conversion rates are:

* USD/EUR: 0.85
* USD/JPY: 1.21
* USD/GBP: 0.81
* USD/CAD: 0.92

In [31]:
rates = [0.85,1.21,0.81,1,0.92]

## Great job!